<li class="ccard">
	<figure class="ccard__logo">
		<img src="./img/logos/{{ logo }}" alt="Logo {{ brand }}">
	</figure>
	<div class="ccard__content">
		<h2 class="ccard__title title-secondary">{{ brand }}<br><span>{{ year }}</span></h2>
		<p class="ccard__description">{{ description }}</p>
	</div>
</li>